<!DOCTYPE html>
<html>
    <head>
        <title>Application Structure Demonstration</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
        <script>
            // Put any globals here, likely populated from env vars
            window.snowflake = {
                deployment: '{{ deployment }}',
                version: '{{ version }}',
            }
        </script>
    </head>
    <body>
        <div id="root"></div>
        {% for filename, hash in entrypoints.items() %}
            <script src="/js/{{ filename }}-{{ hash }}.js" type="module"></script>
        {% endfor %}
    </body>
</html>